@import normalizes.css
@import resets.css

*
    box-sizing: border-box


.container
    max-width: 1140px
    margin: 0 auto 
.main-section
    height: 700px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

h1
    font-size: 40px
    font-weight: bold
 
.main-window
    border: 1px solid black
    width: 500px 
    height: 325px
    border-radius: 20px
    background-color: hsla(46, 96%, 53%, 1)
    padding-top: 30px 
    &__inputs
        display: flex
        flex-direction: column
    &__hrefs
        display: flex
        align-items: center
        justify-content: space-evenly
    &__log-in_button
        display: flex
        justify-content: center
        margin-bottom: 25px
    
.input-box
    display: flex
    flex-direction: column
    align-items: center

.input-text
    margin-bottom: 10px
    font-size: 22px

.input-bar
    height: 25px
    width: 70%
    margin-bottom: 30px
    border-radius: 10px
    border: none
    background-color: hsl(60, 8%, 47.1%)
    color: white 
    &::placeholder
        color: white 
    &:hover
        background-color: grey
    &:active
        border: none //???  

.button
    width: 110px
    height: 30px
    border-radius: 20px
    background-color: hsla(193, 96%, 47%, 1)
    color: hsl(360, 0%, 92%)
    border: 5px  outset
    border-color: hsl(265.5, 30.6%, 57.6%)
    &:hover
        transition: 1s
        border: 5px solid
        border-color: hsl(265.5, 30.6%, 35%)
    &:active
        transition: 0s
        border: 5px inset
        border-color: hsl(265.5, 30.6%, 70%) 

.href
    text-decoration: none
    font-size: 16px
    font-weight: bold
    color: hsl(288.9, 100%, 38.2%)

.href:hover
    color: hsl(288.9, 100%, 30%)
.href:active
    color: hsl(288.9, 100%, 40%)